{% extends "homepage.html.twig" %}

{% block head %}
   {{ parent() }}
   <link rel="stylesheet" href="{{paths.player}}plyr.css" />
   <script src="{{paths.player}}plyr.js"></script>
   <script>
      document.addEventListener('DOMContentLoaded', () => {
         const player = Plyr.setup('.js-player');
      });
   </script>
{% endblock %}
{% block title %} {{ videodata.name }}{% endblock %}
{% block content %}
   <div class="row mb-3">
      <div class="col"><h3>{{ videodata.name }}</h3></div>
   </div>
   <div class="row mb-3">
      <div class="col">
         <video class="js-player"><source src="{{ paths.videos }}{{ videodata.file }}"/></video>
      </div>
   </div>
   <div class="row mb-3">
      <div class="col">
         <a class="btn btn-outline-primary btn-sm" href="/" role="button">Zurück</a>
      </div>
   </div>
{% endblock %}

{# 
   here you can use the Twig variable 'videodata' that gets passed from the controller. 
   it has the fields 'name' and 'file' 
#}
